/* In styles.css */
.custom-bg {
    background-color: #CDF5FD;
}
.inside-bg {
    background-color: #4bdcf9;
}
.shadow-div {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px; /* Optional, adds some padding to make the shadow more visible */
}
.custom-navbar {
    padding: 0; /* Adjust the padding values as needed */
    margin: 4px; /* Adjust the margin values as needed */
}
.banner-size {
    /* width: 100px; */
    height: 100px;
    padding: 3px;
}
.modal-title {
    font-family: 'Comic Sans MS', sans-serif; /* Replace 'Your Chosen Font' with the actual font name or font stack */
  }

/* Example: Reduce font size for DataTables */
.dataTables_wrapper table.dataTable thead th,
.dataTables_wrapper table.dataTable tbody td {
  font-size: 12px; /* Adjust this value as needed */
}