
{% comment %} modal for from region {% endcomment %}
<div class="modal fade" id="fromModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog"style="max-width: 900px;">
    <div class="modal-content custom-bg">
      <div class="modal-header" style="text-align: center;">
        <h1 class="modal-title fs-5 form-heading" id="exampleModalLabel">ADD DATA "From Region"</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <!-- Modal Body -->
          <div class="modal-body ">
              <!-- Content goes here -->
              <form class="row g-3 mb-4 mt-1" method="POST" action={% url "inout" %}>
                
                {% csrf_token %}
                <div class="col-md-4" >
                  <label for="date_receive" class="form-label form-subheading">Date Received</label>
                  <input type="date" class="form-control" id="date_received" name="date_received" required>
                </div>
                <div class="col-md-4">
                  <label for="document_date" class="form-label form-subheading">Document Date</label>
                  <input type="date" class="form-control" id="document_date" name="document_date">
                </div>
                <div class="col-md-4">
                    <label for="received_from" class="form-label form-subheading" >Receive From</label>
                    <select class="form-select" id="received_from" name="received_from" required>
                        <option selected disabled>Select Document Type</option>
                        <option value="OSA">Region</option>
                        <option value="Other">Other</option>
                        
                    </select>
                  </div>
                {% comment %} row two   {% endcomment %}
                <div class="col-md-4">
                    <label for="type_of_doccument" class="form-label form-subheading">Document type</label>
                    <input type="text" class="form-control" id="type_of_doccument" name="type_of_doccument" required>
                    <label for="reference_number" class="form-label form-subheading" style="margin-top: 10px;" >Reference Number</label>
                    <input type="text" class="form-control" id="reference_number" name="reference_number" required>
                </div>
                <div class="col-md-4">
                    <label for="date_sentout_from_osa" class="form-label form-subheading" id="date_signed_sa" name="date_signed_sa">Date Sent out from OSA</label>
                    <input type="date" class="form-control" id="date_sentout_from_osa" name="date_sentout_from_osa">
                    <label for="location_stored" class="form-label form-subheading" style="margin-top: 10px;">Stored Location</label>
                    <input type="text" class="form-control" id="location_stored" name="location_stored" required>
                </div>
                <div class="col-4">
                    <label for="addressee" class="form-label form-subheading">Addressee</label>
                    <textarea class="form-control custom-textarea" id="addressee" name="addressee" rows="4"></textarea>    
                </div>
                
                {% comment %} row three {% endcomment %}
                <div class="col-md-4" >
                  <label for="municipality" class="form-label form-subheading">Municipality</label>
                  <input type="text" class="form-control" id="municipality" name="municipality" required>
                </div>
                <div class="col-md-4" >
                  <label for="barangay" class="form-label form-subheading">Barangay</label>
                  <input type="text" class="form-control" id="barangay" name="barangay" required>
                </div>
                <div class="col-md-4" >
                  <label for="team_receiver" class="form-label form-subheading">Team Receiver</label>
                  <input type="text" class="form-control" id="team_receiver" name="team_receiver" required>
                </div>


                {% comment %} row four {% endcomment %}
                <div class="col-12">
                  <label for="subject" class="form-label form-subheading">Subject</label>
                  <textarea class="form-control custom-textarea" id="subject" name="subject" rows="10"></textarea>
                </div>
            
            
                {% comment %} row five {% endcomment %}
                <div class="col-md-6">
                    <label for="details" class="form-label form-subheading">Details</label>
                    <textarea class="form-control custom-textarea" id="details" name="details" rows="5"></textarea>
                </div>
                <div class="col-6">
                    <label for="remarks" class="form-label form-subheading">Remarks</label>
                    <textarea class="form-control custom-textarea" id="remarks" name="remarks" rows="5"></textarea>
                </div>
                
                {% comment %} row six {% endcomment %}
                <div class="col-4">
                  <label for="attach_file" class="form-label form-subheading" style="margin-top: 10px;">Attach File</label>
                  <input class="form-control" type="file" id="attach_file">
                </div>

                {% comment %} row seven {% endcomment %}
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label form-subheading" for="gridCheck">
                      Check me out
                    </label>
                  </div>
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-primary" id="saveFromRegion" name="saveFromRegion">save</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
