{% extends "base.html" %}



{%block content%}
{% if user.is_authenticated %}

<h1>this is home</h1>



{% else %}
<div class="col-md-3 mx-auto">
<h1>Login</h1>

<form method="POST" action={% url "home" %}>
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <input type="text" class="form-control" name="username", placeholder="username" required >
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password", placeholder="password" required >
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
</form>

{% endif %}
{% endblock %}