{% extends "base.html" %}



{%block content%}
{% if user.is_authenticated %}




<div class="row gx-1" style=" margin: 10px 3px 0px 3px;">
    <div class="col-md-2 ">
        <div class="card bg-primary text-white" style="height: 400px;">
            <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">This is the first card at the top.</p> 
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row gx-1">
            <div class="col-md-6">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <h5 class="card-title">Card 2</h5>
                        <p class="card-text">This is the second card at the top.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <h5 class="card-title">Card 3</h5>
                        <p class="card-text">This is the 3 card at the top.</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 10px;">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <h5 class="card-title">Card 4</h5>
                    <p class="card-text">This is the 4 card at the top.</p>
                </div>
            </div>
        </div>
    </div>
</div>




{% comment %} kung hindi naka login d2 sya mapupunta {% endcomment %}
{% else %}
<div class="col-md-3 mx-auto">
<h1>Login</h1>

<form method="POST" action={% url "home" %}>
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <input type="text" class="form-control" name="username", placeholder="username" required >
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password", placeholder="password" required >
        </div>
        <button type="submit" class="btn btn-primary" id="loginbtn" name="loginbtn">Login</button>
      </form>
</form>



{% endif %}
{% endblock %}