{% extends "base.html" %}



{%block content%}


{% if user.is_authenticated %}

<table id="custo" class="table table-hover table-bordered" style="width:100%">
    <thead>
      <tr>
        <th scope="col" class="text-center">Date Received</th>
        <th scope="col" class="text-center">Received from</th>
        <th scope="col" class="text-center">Document type</th>
        <th scope="col" class="text-center">Document date</th>
        <th scope="col" class="text-center">Particulars</th>
        {% comment %} <th scope="col">Copies</th> {% endcomment %}
        {% comment %} <th scope="col">Date signed by SA</th> {% endcomment %}
        <th scope="col" class="text-center">Transmittal number</th>
        <th scope="col" class="text-center">Date sent out</th>
        {% comment %} <th scope="col">Date received from region</th>
        <th scope="col">Date received by region</th>
        <th scope="col">Location stored</th>
        <th scope="col">Date sent to teams</th>
        <th scope="col">Received by team</th> {% endcomment %}

      </tr>
    </thead>
    <tbody>
      
      {% if records %}
        {% for record in records %}
            <tr>
                <td>{{record.date_received}}</td>
                <td>{{record.received_from}}</td>
                <td>{{record.document_type}}</td>
                <td>{{record.document_date}}</td>
                <td  style="white-space: pre-line;">{{record.particulars}}</td>
                {% comment %} <td>{{record.copies}}</td>
                <td>{{record.date_signed_sa}}</td> {% endcomment %}
                <td>{{record.transmittal_number}}</td>
                <td>{{record.date_sent_out}}</td>
                {% comment %} <td>{{record.date_received_from_region}}</td>
                <td>{{record.date_received_by_region}}</td>
                <td>{{record.location_stored}}</td>
                <td>{{record.date_sent_to_teams}}</td>
                <td>{{record.received_by_team}}</td> {% endcomment %}
            </tr>
        {% endfor %}
      {% endif %}
      
    </tbody>
  </table>
  {% endif %}
  
  {% endblock %}