


<nav class="navbar navbar-expand-lg bg-primary custom-navbar shadow-div">
    <div class="container-fluid ">
      <ul class="nav nav-tabs" id="myTab" role="tablist" >
        <li class="nav-item" role="presentation" >
          <button style="color: black;" class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true" >Home</button>
        </li>
        <li class="nav-item" role="presentation">
          <button style="color: black;" class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" href="{% url "inout" %}">From/To Region</button>
        </li>
        <li class="nav-item" role="presentation">
          <button style="color: black;" class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Monitoring</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">...</div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...</div>
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
      </div>


      <a class="navbar-brand" href="#">Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url "inout" %}">From/To Region</a>
          <a class="nav-link active" href="#">Inventory</a>
          <a class="nav-link active" href="#">leaves</a>
        </div>
      </div>
      {% if user.is_authenticated %}
      <div class="navbar-nav ml-auto"> <!-- 'ml-auto' pushes content to the right -->
      <a class="nav-link active" href="{% url "logout" %}">logout</a>
      </div>
      {% else %}
      <div class="navbar-nav ml-auto"> <!-- 'ml-auto' pushes content to the right -->
          <a class="nav-link" href="{% url "home" %}">login</a>
      </div>
      {% endif %}

    </div>
</nav>